{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <meta name="keywords" content="{{ subcategory.shortname }}" />
{% endblock %}

{% block title %}{{ SITENAME }} | {{ subcategory.shortname }}{% endblock %}

{% block content %}

  <div class="page">
      <h2>{{ subcategory.shortname }}</h2>

      <div class="embeded-map">
        <iframe src="{{ SITEURL }}/maps/{{ subcategory.slug }}.html" allowfullscreen width="600" height="400"></iframe>
      </div>

      <div class="arrows">
        {% for article in articles | sort (attribute="date") %}
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            {% if loop.last %}
            {% else %} ->
            {% endif %}
        {% endfor %}
      </div>

      {% include 'article_list.html' %}
      {% include 'comments.html' %}
    </div>

{% endblock %}

{% block ephemeral_nav %}
  {{ ephemeral_nav_link(subcategory.shortname, output_file, True) }}
{% endblock %}
