{% for article in articles | sort (attribute="date") %}
  <h4 class="thumbnail">
    {{ article.date.strftime("%d %b %Y").upper() }}
    {% if article.photo_image %}
      <a href="{{ SITEURL }}/{{ article.url }}"><img src="{{ SITEURL }}/{{ article.photo_image[2] }}"/></a>
    {% endif %}
  </h4>

  <article class="post">

    {% if article.title %}
      <h4 class="title">
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      </h4>
    {% endif %}

    {{ article.summary }}

    <div class="clear"></div>
    {%   include "article_info.html" %}
  </article>
{% endfor %}
