{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% if article.tags %}
        <meta name="keywords" content="{{ article.tags|join(",") }}" />
    {% endif %}
    {% if article.description %}
        <meta name="description" content="{{ article.description }}" />
    {% endif %}
{% endblock %}

{% block title %}{{ SITENAME }} | {{ article.title }}{% endblock %}

{% block content %}

    {%   include "article_info.html" %}

    <h4 class="date">{{ article.date.strftime("%d %b %Y").upper() }}</h4>

    <article class="post">
        <h2 class="title">{{ article.title }}</h2>

        {{ article.content }}

        {% if article.photo_gallery %}
            {% for title, gallery in article.photo_gallery %}
                <h2>Zdjęcia</h2>
                {% for name, photo, thumb, exif, caption in gallery %}
                    {% if name != 'thumbs.jpg' %}
                        <div class="responsive">
                            <div class="gallery">
                                <a href="{{ SITEURL }}/{{ photo }}" caption="{{ caption }}"><img src="{{ SITEURL }}/{{ photo }}"></a>
                                <div class="desc">{{ caption }}</div>
                           </div>
                        </div>
                    {% endif %}
                {% endfor %}
             {% endfor %}
        {% endif %}
    </article>
{% include 'comments.html' %}

{% endblock %}

{% block ephemeral_nav %}
                {{ ephemeral_nav_link(article.title, output_file, True) }}
{% endblock %}
