{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% if article.tags %}
    <meta name="keywords" content="{{ article.tags|join(",") }}" />
    {% endif %}
    {% if article.description %}
    <meta name="description" content="{{ article.description }}" />
    {% endif %}
{% endblock %}

{% block title %}{{ SITENAME }} | {{ article.title }}{% endblock %}

{% block content %}



{% if article.photo_gallery %}
<div class="gallery">
		{% for title, gallery in article.photo_gallery %}
			<h1>{{ title }}</h1>
				{% for name, photo, thumb, exif, caption in gallery %}
						<a href="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}"><img src="{{ SITEURL }}/{{ thumb }}"></a>
				{% endfor %}
		{% endfor %}
</div>
{% endif %}
{% include "article_stub.html" %}
{% endblock %}

{% block ephemeral_nav %}
                {{ ephemeral_nav_link(article.title, output_file, True) }}
{% endblock %}
