{% extends "base.html" %}

{% block content %}
  <div class="page">
    {% for group in articles | sort (attribute="date", reverse = True) | groupby('category') %}
        <h2><a href="{{ SITEURL }}/{{ group.grouper.url}}">{{ group.grouper }}</a></h2>
        <div class="embeded-map">
          <iframe src="{{ SITEURL }}/maps/{{ group.grouper.slug }}.html" allowfullscreen width="800" height="600"></iframe>
        </div>
        <div class="clear"></div>
    {% endfor %}
  </div>
{% endblock %}
