{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <meta name="keywords" content="{{ subcategory }}" />
{% endblock %}

{% block title %}{{ SITENAME }} | {{ subcategory }}{% endblock %}

{% block content %}

  <div class="page">
      <h2>{{ subcategory }}</h2>

      <div class="embeded-map">
        <iframe src="{{ SITEURL }}/maps/{{ subcategory.slug }}.html" allowfullscreen width="800" height="600"></iframe>
      </div>

      <h4>
        {% for article in articles | sort (attribute="date") %}
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            {% if loop.last %}
            {% else %} ->
            {% endif %}
        {% endfor %}
      </h4>

      <h2>Trasa</h2>
      {% include 'article_list.html' %}

      {% include 'comments.html' %}
  </div>

{% endblock %}

{% block ephemeral_nav %}
  {{ ephemeral_nav_link(tag, output_file, True) }}
{% endblock %}
